<div *ngIf="loadingQuestion | async" style="width: 100%; padding-top: 25vh; display: flex; align-content: center">
    <svg id="icon-reload" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path d="M12 6v3l4-4-4-4v3c-4.42 0-8 3.58-8 8 0 1.57.46 3.03 1.24 4.26L6.7 14.8c-.45-.83-.7-1.79-.7-2.8 0-3.31 2.69-6 6-6zm6.76 1.74L17.3 9.2c.44.84.7 1.79.7 2.8 0 3.31-2.69 6-6 6v-3l-4 4 4 4v-3c4.42 0 8-3.58 8-8 0-1.57-.46-3.03-1.24-4.26z" />
      <path d="M0 0h24v24H0z" fill="none" />
    </svg>
</div>

<div *ngIf="!(loadingQuestion | async) && (currentQuiz$ | async) as currentQuiz" class="container-fluid">
    <div class="jumbotron d-flex w-100 justify-content-between p-4 m-2" id="head">
        <h2>{{ currentQuiz.name }}</h2>
        <div>
            <button id="previewButton" class="btn btn-primary btn-dimension" (click)="onPreview()">Prévisualiser</button>
            <span id="separation">&nbsp;</span>
            <button *ngIf="!quizFinalized" id="validButton" class="btn btn-primary btn-dimension mr-0"
                    (click)="onValidation()">Valider</button>
            <button *ngIf="quizFinalized" id="inviteButton" class="btn btn-primary btn-dimension mr-0 pt-0" style="line-height: 20px"
                    (click)="onInvite()">Inviter des participants</button>
        </div>
    </div>
</div>

<div *ngIf="!(loadingQuestion | async) && (questionForm$ | async)" class="row d-block">
    <div class="d-flex justify-content-center mt-3">
        <div class="icons-prev-next">
            <div class="main__item">
                <button class="arrow mr-2" (click)="questionPosition > 1 && onSwitchQuestion($event)" id="prev">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40px" height="40px" viewBox="0 0 50 80"  xml:space="preserve">
                        <polyline fill="none" stroke="#FFFFFF" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" points="
                        45.63,75.8 0.375,38.087 45.63,0.375 "/>
                    </svg>
                </button>
            </div>

            <h2>Question n°{{ questionPosition }}</h2>

            <div class="main__item">
                <button class="arrow" (click)="onSwitchQuestion($event)" id="next">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40px" height="40px" viewBox="0 0 50 80" xml:space="preserve">
                        <polyline fill="none" stroke="#FFFFFF" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" points="
                        0.375,0.375 45.63,38.087 0.375,75.8 "/>
                    </svg>
                </button>
            </div>
        </div>
    </div>
    <div [ngSwitch]="questionStatus$ | async">
        <div *ngSwitchCase="'saving'" class="text-center"><span class="badge badge-pill badge-primary">Sauvegarde en cours</span></div>
        <div *ngSwitchCase="'saved'" class="text-center"><span class="badge badge-pill badge-success">Sauvegardée</span></div>
        <div *ngSwitchCase="'unsaved'" class="text-center"><span class="badge badge-pill badge-secondary">Non sauvegardée</span></div>
        <div *ngSwitchCase="'deleting'" class="text-center"><span class="badge badge-pill badge-primary">Suppression en cours</span></div>
    </div>
</div>

<app-question
    *ngIf="!(loadingQuestion | async) && (questionForm$ | async)"
    [questionForm$]="questionForm$"
    [currentQuestion]="currentQuestion"
    (deleteQuestionEvent)="onDeleteQuestion()"
></app-question>

<!-- Delete question modal template -->
<ng-template #deleteQuestionTemplate>
    <div class="modal-header modal-header-validation">
        <h4 class="modal-title pull-left text-white">Suppression de la question n°{{ currentQuestion.position }}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
            <span class="text-white" aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body text-center">
        <span class="mt-2">
            Après suppression de la question, les champs de saisie seront vidés. Le formulaire
            apparaîtra toujours pour cette position, mais la question ne fera plus partie du quiz.
            Vous pourrez à tout moment saisir une nouvelle question à la place.
            Etes-vous sûr de vouloir supprimer la question ?
        </span>
        <br><br>
        <div>
            <button type="button" class="btn btn-primary btn-width mr-1" aria-label="Valid" (click)="onConfirmDeleteQuestion()">
                <span aria-hidden="true">Supprimer</span>
            </button>
            <button type="button" class="btn btn-danger btn-width" aria-label="Close" (click)="bsModalRef.hide()">
                <span aria-hidden="true">Annuler</span>
            </button>
        </div>
    </div>
</ng-template>

<!-- Confirm validation modal template -->
<ng-template #validationTemplate>
    <div class="modal-header modal-header-validation">
        <h4 class="modal-title pull-left text-white">Validation du Quiz</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
            <span class="text-white" aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body text-center">
        <span class="mt-2">Un quiz validé ne peut plus être modifié, êtes-vous sûr ?</span>
        <br><br>
        <div>
            <button type="button" class="btn btn-primary btn-width mr-1" aria-label="Valid" (click)="onConfirmValidation()">
                <span aria-hidden="true">Valider</span>
            </button>
            <button type="button" class="btn btn-danger btn-width" aria-label="Close" (click)="onCancelValidation()">
                <span aria-hidden="true">Annuler</span>
            </button>
        </div>
    </div>
</ng-template>

<!-- Violation modal template (after validation) -->
<ng-template #violationTemplate>
    <div class="modal-header modal-header-violation">
        <h4 class="modal-title pull-left text-white">Erreur lors de la validation du Quiz :</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
            <span class="text-white" aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div *ngFor="let violation of violations">
            <span><a [routerLink]="" (click)="onGoToQuestion(violation.position)">Question {{ violation.position }} :</a> {{ violation.error }}</span>
        </div>
        <br>
        <div class="text-center">
            <button type="button" class="btn btn-primary btn-width" aria-label="Close" (click)="bsModalRef.hide()">
                <span aria-hidden="true">OK</span>
            </button>
        </div>
    </div>
</ng-template>

<!-- Violation modal template (after validation) -->
<ng-template #errorTemplate>
    <div class="modal-header modal-header-violation">
        <h4 class="modal-title pull-left text-white">Attention !!</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
            <span class="text-white" aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div>
            Vous devez d'abord saisir une question avant de pouvoir effectuer cette action
        </div>
        <br>
        <div class="text-center">
            <button type="button" class="btn btn-primary btn-width" aria-label="Close" (click)="bsModalRef.hide()">
                <span aria-hidden="true">C'est compris</span>
            </button>
        </div>
    </div>
</ng-template>
