.navbar {
    position: fixed;
    width: 100%;
    min-height: 10vh;
    z-index: 1;
}

section {
    margin: 0;
    padding: 45vh 0 0 0;
    width: 100%;
    height: 100vh;
    text-align: center;
    min-height: 55vh;
    top: 0;
}

#main {
    position: absolute;
    top: 10vh;
    min-height: 90vh;
    background: rgb(66,155,172);
    background: -moz-linear-gradient(0deg, rgba(66,155,172,1) 0%, rgba(164,219,225,1) 47%);
    background: -webkit-linear-gradient(0deg, rgba(66,155,172,1) 0%, rgba(164,219,225,1) 47%);
    background: linear-gradient(0deg, rgba(66,155,172,1) 0%, rgba(164,219,225,1) 47%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#429bac",endColorstr="#a4dbe1",GradientType=1);
    color: #2C6383;
}
