<!-- Wrapper -->
<div id="wrapper">
    <!-- Main -->
    <div id="main">
        <div class="inner">

            <!-- Header -->
            <header id="header">
                <h4 *ngIf="currentQuiz | async">{{ (currentQuiz | async).name }}</h4>
                <h4 class="icons">{{ action }}</h4>
            </header>
        </div>

        <div id="appli">
            <router-outlet></router-outlet>
        </div>

        <div id="sidebar">
            <div class="inner">

                <!-- Menu -->
                <nav id="menu">
                    <header class="major">
                        <h2>{{ title }}</h2>
                    </header>
                    <ul>
                        <li routerLinkActive="active"><a routerLink="quiz/list">Mes Quiz</a></li>
                        <li routerLinkActive="active"><a routerLink="quiz/edit">Créer un Quiz</a></li>

                    </ul>
                </nav>
                <a *ngIf="currentQuiz | async"
                   [routerLink]="['question/edit/', (currentQuiz | async).id]" [queryParams]="{ validation: true }"
                   class="button primary fit icon solid fa-download">Valider ce quiz</a>
            </div>
        </div>
    </div>
</div>
