<!--Navbar-->
<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <!-- Navbar brand -->
    <a class="navbar-brand" routerLink="/">{{ title }}</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" (click)="isCollapsed = !isCollapsed" aria-expanded="false" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="navbarToggler" [collapse]="isCollapsed">
        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li *ngIf="isAuthenticated | async" class="nav-item dropdown" routerLinkActive="active" dropdown>
                <a id="dropAdminButton" aria-controls="dropAdminMenu" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" dropdownToggle>
                    Espace Création<b class='caret'></b>
                </a>
                <ul class="dropdown-menu" id="dropAdminMenu" *dropdownMenu role="menu" aria-labelledby="dropAdminButton">
                    <li role="menuitem"><a routerLink="quiz/list" routerLinkActive="active" class='dropdown-item'>Mes Quizzes</a></li>
                    <li role="menuitem"><a routerLink="quiz/edit" routerLinkActive="active" class='dropdown-item'>Créer un Quiz</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown" routerLinkActive="active" dropdown>
                <a id="dropInviteButton" aria-controls="dropInviteMenu" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" dropdownToggle>
                    Espace Invité<b class='caret'></b>
                </a>
                <ul class="dropdown-menu" id="dropInviteMenu" *dropdownMenu role="menu" aria-labelledby="dropInviteButton">
                    <li role="menuitem"><a routerLink="execute/invitation/" routerLinkActive="active" class='dropdown-item'>Participer à un quiz</a></li>
                </ul>
            </li>
        </ul>

        <ul class="navbar-nav">
            <li *ngIf="!(isAuthenticated | async)" class="nav-item" routerLinkActive="active" data-toggle="collapse" data-target=".navbar-collapse.show">
                <a class="nav-link" routerLink="login" (click)="isCollapsed = !isCollapsed">S'identifier</a>
            </li>
            <li *ngIf="!(isAuthenticated | async)" class="nav-item" routerLinkActive="active" data-toggle="collapse" data-target=".navbar-collapse.show">
                <a class="nav-link" routerLink="register" (click)="isCollapsed = !isCollapsed">S'inscrire</a>
            </li>
            <li *ngIf="isAuthenticated | async" class="nav-item" routerLinkActive="active" data-toggle="collapse" data-target=".navbar-collapse.show">
                <a class="nav-link" routerLink="logout" (click)="isCollapsed = !isCollapsed">Se déconnecter</a>
            </li>
        </ul>
        <!-- Links -->
    </div>
    <!-- Collapsible content -->
</nav>
<!--/.Navbar-->

<div *ngIf="home" id="home" class="container-fluid m-0 p-0" style="width: 100%">
    <section style="background-color: #e0ebe8; color: green">
        <h1>En famille</h1>
        <p>Amusez-vous à tester vos enfants... ou vos parents !!</p>
    </section>
    <section style="background-color: white">
        <h1>Entre amis</h1>
        <p>Défiez vos amis sur les sujets du moments !!</p>
    </section>
    <section style="background-color: #e0ebe8; color: green">
        <h1>Au travail</h1>
        <p>Vérifiez les connaissances de vos salariés... actuels et futurs !!</p>
    </section>
</div>

<div *ngIf="!(home)" id="main" class="container-fluid">
    <router-outlet></router-outlet>
</div>
