
#icon-reload {
    -webkit-animation: reload 2s steps(4) infinite;
    animation: reload 2s steps(4) infinite;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    width: 40px;
    height: 40px;
}


@-webkit-keyframes reload {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes reload {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
