<ng-template #spinner>
    <div class="loader">Loading...</div>
</ng-template>

<div *ngIf="!loadingQuiz; else spinner" class="row justify-content-center">
    <form (ngSubmit)="f.form.valid && onSubmit(f)" #f="ngForm">
        <h2>Définissez votre Quiz</h2>
        <br>
        <div class="form-group">
            <label class="control-label" for="quizName">Nom du Quiz</label>
            <input class="form-control input-md" id="quizName" type="text" name="quizName" [(ngModel)]="quiz.name" #quizName="ngModel"
                   required minlength="4" maxlength="40" />
            <div *ngIf="f.submitted && (quizName.dirty || quizName.touched) && quizName.errors"
                 class="alert alert-danger">
                <div *ngIf="quizName.errors.required">Champ obligatoire</div>
                <div *ngIf="quizName.errors.minlength && !quizName.errors.required">Au moins 4 caractères</div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="quizDesc">Description</label>
            <input class="form-control input-md" id="quizDesc" type="text" name="quizDesc" [(ngModel)]="quiz.description" #quizDesc="ngModel"
                   required minlength="4" maxlength="110" />
            <div *ngIf="f.submitted && (quizDesc.dirty || quizDesc.touched) && quizDesc.errors"
                 class="alert alert-danger">
                <div *ngIf="quizDesc.errors.required">Champ obligatoire</div>
                <div *ngIf="quizDesc.errors.minlength && !quizDesc.errors.required">Au moins 4 caractères</div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="buttonDisabled">Enregistrer</button>
    </form>
</div>
