input[type="text"] {
    width: 43vw;
}

textarea {
    width: 43vw;
    height: 120px;
}

.prop-display {
    display: flex;
    align-items: center;
}

#spanCar {
    position: relative;
    top: -25px;
}

.radio-form {
    position: relative;
    top: -25px;
}

@media screen and (max-width: 570px) {
    input[type="text"] {
        width: 90vw;
    }

    textarea {
        width: 90vw;
        height: 100px;
    }
}
