<form [formGroup]="questionForm$ | async"
      name="questionForm" class="row d-flex justify-content-around">

    <div class="row">
        <div class="col-12 m-0 p-0 text-center">
            <div class="form-group text-center mb-0" id="question-form-group">
                <label for="questionLabel"><h4>Intitulé de la question</h4></label>
                <textarea class="form-control" style="resize: none;" id="questionLabel"
                          formControlName="questionLabel" maxlength="300" #labelLength></textarea>
                <span class="text-right form-text" id="spanCar" style="color: #2B3E50;font-size: 0.7rem"><code>{{ labelLength.value.length }}</code> / 300 &nbsp;</span>

                <div class="radio-form">
                    <div class="form-group">
                        <div class="btn-group btn-group-toggle radio-dimension" data-toggle="buttons" btnRadioGroup formControlName="questionType">
                            <label btnRadio="duo" class="btn btn-primary" [disabled]="quizFinalized" (click)="updateQuestionType($event)">
                                <input type="radio" value="duo" name="questionType" id="duo" [disabled]="quizFinalized">
                                Duo
                            </label>
                            <label btnRadio="carre" class="btn btn-primary" [disabled]="quizFinalized" (click)="updateQuestionType($event)">
                                <input type="radio" value="carre" name="questionType" id="carre" [disabled]="quizFinalized">
                                Carré
                            </label>
                            <label btnRadio="qcm" class="btn btn-primary" [disabled]="quizFinalized" (click)="updateQuestionType($event)">
                                <input type="radio" value="qcm" name="questionType" id="qcm" [disabled]="quizFinalized">
                                QCM
                            </label>
                        </div>
                    </div>
                    <button class="btn btn-danger btn-dimension" (click)="deleteQuestion()" [disabled]="!currentQuestion || quizFinalized">Supprimer</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row d-block"  formArrayName="propositions">
        <h4 class="text-center">Propositions</h4>

        <div style="padding-top: 0.5em" *ngFor="let propositionGroup of (propositions$ | async); let i = index">

            <div class="prop-display" [formGroupName]="i">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" (change)="uncheckOthers($event)"
                           [attr.id]="'check_' + i" name="wrightAnswer" formControlName="wrightAnswer"
                           maxlength="150">
                    <label class="custom-control-label" [attr.for]="'check_' + i"></label>
                </div>
                <input class="form-control" type="text" formControlName="label" />
                <input type="hidden" formControlName="id" />
                <input type="hidden" formControlName="position" />
            </div>
        </div>
    </div>
</form>
