#question-form-group {
    width: 42vw;
}

input[type="text"] {
    width: 42vw;
}

textarea {
    width: 100%;
    height: 120px;
}

textarea:disabled {
    background-color: #ABB6C2;
}

.prop-display {
    display: flex;
    align-items: center;
}

#spanCar {
    position: relative;
    top: -25px;
}

.radio-form {
    position: relative;
    top: -25px;
}

.radio-dimension {
    width: 100%;
}

.btn-group > label {
    padding: 0.6em;
}

@media screen and (max-width: 570px) {
    input[type="text"] {
        width: 90vw;
    }

    textarea {
        width: 90vw;
        height: 100px;
    }
}
