<div class="container-fluid">
    <h2>Visualisez les résultats des participants à vos Quizzes</h2>
    <br>
    <div class="container">
        <div class="form-group">
            <select class="custom-select" #quizzes style="width: 600px" (change)="onSelect(quizzes.value)">
                <option selected>{{ defaultSelectedValue$ | async }}</option>
                <option *ngFor="let quiz of quizzes$ | async; let i = index" [attr.value]="quiz.id">{{ quiz.name }} - {{ quiz.description }}</option>
            </select>
        </div>
        <br>
        <div class="align-items-center">
            <tabset type="pills">
                <tab heading="Résultats complets">
                    <div *ngIf="!(loadingStats$ | async); else spinner">
                        <br>
                        <app-full-stats [quizId]="quizId" *ngIf="statsReady$ | async"></app-full-stats>
                    </div>
                </tab>
                <tab heading="Résultats sur le quiz">
                    <div *ngIf="!(loadingStats$ | async); else spinner">
                        <br>
                        <app-by-quiz-stats [quizId]="quizId" *ngIf="statsReady$ | async"></app-by-quiz-stats>
                    </div>
                </tab>
                <tab heading="Résultats par question">
                    <div *ngIf="!(loadingStats$ | async); else spinner">
                        <br>
                        <app-by-question-stats [quizId]="quizId" *ngIf="statsReady$ | async"></app-by-question-stats>
                    </div>
                </tab>
            </tabset>
        </div>
    </div>
</div>

<ng-template #spinner>
    <div class="loader">Loading...</div>
</ng-template>
