<div *ngIf="{questions: questions$ | async, invitations: invitations$ | async} as results">

    <div *ngIf="!results.questions && !results.invitations && selected" class="loader">Loading...</div>

    <div *ngIf="results.questions && results.invitations">
        <h4>Résultats obtenus par vos invités :</h4>
        <table class="table table-borderless table-dark">
            <thead>
            <tr>
                <th scope="col">Participant</th>
                <th class="text-center" scope="col" *ngFor="let question of results.questions; let i = index"
                    [popover]="question.label" [popoverTitle]="'Type : ' + question.type | titlecase" triggers="mouseenter mouseleave">
                    Question {{ i + 1 }}
                </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let invitation of results.invitations; let j = index">
                <th scope="row">{{ invitation.lastname }} {{ invitation.firstname }}</th>
                <td *ngFor="let question of results.questions; let i = index">
                    <ng-template #popTemplate><span [innerHtml]=answersTab[j][i] ></span></ng-template>
                        <div class="text-center" [ngClass]="invitation.execution.answers[i].success ? 'text-success' : 'text-danger'"
                            [popover]=popTemplate [popoverTitle]="'Réponses données'" triggers="mouseenter mouseleave">
                            <img *ngIf="invitation.execution.answers[i].success" src="../../../assets/images/green-check.png" alt="wright">
                            <img *ngIf="!invitation.execution.answers[i].success" src="../../../assets/images/red-cross.png" alt="wrong">
                        </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
